$primary: #8000ff;
$secondary: #ffec00;
$enable-shadows: true;

@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";
@import "~devicon/devicon-base";

.slick-track
{
  display: flex !important;
}

.slick-slide
{
  height: inherit !important;

  > div {
    height: 100%;
  }
}